<!DOCTYPE>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport"content-"width=device-width initial-scale=1">

        <link rel="stylesheet" href="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css" />
      <script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
      <script src="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>
        <meta charset="utf-8">
        <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
        <title>EcoPal Home</title>

        <script type="text/javascript">
            $(document).on('mobileinit',function(){
                $.mobile.defaultPageTransition='slide';
            })
        </script>

    </head>
    
    
    <body style="background-color: blue;">
    <div data-role="page" id="Home">  <!--FIRST PAGE-->
         
            <p style="color:blue;font-style:bold;font-size:270%;text-align: center;">EcoPal</p> <!--ECO PAL HEADER-->
        
     

            </div>

        </div>
       
    </div><!-- END OF HOME PAGE DIV-->
   



<!-- THE MENU PANEL-->
 <!-- <div data-role="panel" id="MENU">
        <div data-role="header">
            <a href="#Home" data-icon="arrow-l" data-iconpos="notext" data-shadow="false" data-iconshadow="false" data-display="reveal">Home</a>
             <a href data-icon="arrow-l" data-mini="true"><a href="#" data-rel="close">Close</a></li>-->
        <!--</div>
                <ul data-role="listview">
                  
                    <li data-role="collapsible" data-inset="false" data-iconpos="right">
                      <h3>Recycling</h3>
                      <ul data-role="listview">
                        <li><a href="#">Clothes</a></li>
                        <li><a href="#">Electronics</a></li>
                        <li><a href="#">Large Household Items</a></li>
                        <li><a href="#">Industrial</a></li>
                      </ul>
                    </li> /collapsible -->
                  <!--  <li data-role="collapsible" data-inset="false" data-iconpos="right">
                      <h3>Restaraunts</h3>
                      <ul data-role="listview">
                        <li><a href="#">Vegan</a></li>
                        <li><a href="#">Vegetarian</a></li>
                      </ul>
                    </li> /collapsible -->
                 <!--   <li data-role="collapsible" data-inset="false" data-iconpos="right">
                      <h3>Cafes</h3>
                      <ul data-role="listview">
                        <li><a href="#">Eco-Friendly</a></li>
                        <li><a href="#">Compostable Cups</a></li>
                        <li><a href="#">Reusable Cups</a></li>
                      </ul>
                    </li> /collapsible -->
          <!--      </ul>
            </div>/panel -->

    <!--<script type="text/javascript" src="cordova.js"></script>-->
    </body>
</html>